 h1{
    text-transform: uppercase;
    text-align: center;
    padding-top: 50px;
}
#owl-images .item{
    margin: 3px;
}
.owl-theme .owl-dots .owl-dot {
   
    outline: none;
}
#owl-fullwidth .item{
    margin: 3px;
}
#owl-event .item{
    margin: 3px;
}
.customNavigation {
    justify-content: space-evenly;
    display: flex ;
    padding: 5px 10px;
    
}
.customNavigation .btn{
    background-color: antiquewhite;
    margin: 3px;
    cursor: pointer;
}
#owl-lazyload .item{
    margin: 3px;
}
#owl-center .item{
    /* margin: 3px; */
}